.programs {
    margin: 50px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.programs img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.program {
    flex-basis: 31%;
    position: relative;
}

.caption {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFF;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
}

.caption img {
    width: 32px;
    margin-bottom: 10px;
}

.program:hover .caption {
    opacity: 1;
    padding-top: 0;
}

.programsStyle {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 10px;
}

.programsStyle h4 {
    color: #212EA0;
}

.programsStyle h2 {
    font-size: 32px;
    color: #000F38;
    margin-top: 5px;
    text-transform: none;
}